<div fxLayout fxLayout="column" fxLayoutAlign="start stretch" style="height: 100%;">
  <!-- <md-toolbar>
    <button md-icon-button class="md-icon-button-sm" [disabled]="isListBusy" (click)="getSecurities(true)" style="position: absolute; right: 0px; top: 0px;">
          <md-icon style="vertical-align: baseline;" [style.color]="isListBusy ? 'rgba(255, 255, 255, 0.85)' : 'lightgray'" class="mdi-14px mdi-rotate-45 mdi-bold" fontSet="mdi" fontIcon="mdi-autorenew"></md-icon>
        </button>
    <app-component-spinner [busy]="isListBusy" [small]="true"></app-component-spinner>
    <md-form-field fxFlex style="margin-top:12px;">
      <md-spinner class="spinner-prefix" mdPrefix [class.hidden-spinner]="!isExchangeSearchBusy" [class.show-spinner]="isExchangeSearchBusy"></md-spinner>
      <input type="text" mdInput #exchangeInput="ngModel" (blur)="onExchangeBlur()" [(ngModel)]="selectedExchange" [mdAutocomplete]="exchange"
        placeholder="Exchange">
    </md-form-field>
    <md-autocomplete style="margin-top:12px;" #exchange="mdAutocomplete" [displayWith]="exchangeDisplayFn">
      <md-option *ngFor="let option of filteredExchanges" [value]="option">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
          <span fxFlex="20" style="text-align: left;">{{ option.acronym }}</span>
          <span fxFlex="80" style="text-align: left;">{{ option.institution_name }}</span>
        </div>
      </md-option>
    </md-autocomplete>
    <md-form-field fxFlex style="margin-top:12px;">
      <md-spinner class="spinner-prefix" mdPrefix [class.hidden-spinner]="!isSecuritySearchBusy" [class.show-spinner]="isSecuritySearchBusy"></md-spinner>

      <input type="text" #securityInput="ngModel" mdInput (blur)="onSecurityBlur()" [(ngModel)]="selectedSecurity" [mdAutocomplete]="security"
        placeholder="Security" [disabled]="!selectedExchange.symbol">
    </md-form-field>
    <md-autocomplete style="margin-top:12px;" #security="mdAutocomplete" [displayWith]="securityDisplayFn">
      <md-option (click)="getCompany()" *ngFor="let option of filteredSecurities" [value]="option">
        <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
          <span fxFlex="15" style="text-align: left;">{{ option.ticker }}</span>
          <span fxFlex="85" style="text-align: left;">{{ option.security_name }}</span>
        </div>
      </md-option>
    </md-autocomplete>
    <md-button-toggle-group [(ngModel)]="selectedFrequency">
      <md-button-toggle [value]="Frequency.daily" selected>
        <span>Daily</span>
      </md-button-toggle>
      <md-button-toggle [value]="Frequency.weekly">
        <span>Weekly</span>
      </md-button-toggle>
      <md-button-toggle [value]="Frequency.monthly">
        <span>Monthly</span>
      </md-button-toggle>
      <md-button-toggle [value]="Frequency.quarterly">
        <span>Quarterly</span>
      </md-button-toggle>
      <md-button-toggle [value]="Frequency.yearly">
        <span>Yearly</span>
      </md-button-toggle>
    </md-button-toggle-group>
    <md-form-field style="margin-top:12px;">
      <input mdInput [disabled]="!selectedSecurity.ticker" [mdDatepicker]="start" placeholder="Start Date" [(ngModel)]="startDate">
      <md-datepicker-toggle [disabled]="!selectedSecurity.ticker " mdSuffix [for]="start"></md-datepicker-toggle>
      <md-datepicker touchUi="true" #start></md-datepicker>
    </md-form-field>
    <md-form-field style="margin-top:12px;">
      <input mdInput [disabled]="!selectedSecurity.ticker || !startDate" [mdDatepicker]="end" placeholder="End Date" [(ngModel)]="endDate"
        (ngModelChange)="getData()">
      <md-datepicker-toggle [disabled]="!selectedSecurity.ticker || !startDate" mdSuffix [for]="end"></md-datepicker-toggle>
      <md-datepicker touchUi="true" #end></md-datepicker>
    </md-form-field>
    <button md-icon-button (click)="getData()" [disabled]="!selectedSecurity.ticker || !startDate || !endDate">
          <md-icon class="mdi-14px" fontSet="mdi" fontIcon="mdi-autorenew"></md-icon>
        </button>
  </md-toolbar> -->
  <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex>
    <div fxFlex="25" style="position: relative; ">
      <app-component-spinner [busy]="isSummaryBusy"></app-component-spinner>
      <md-card>
        <md-card-header>
          <md-icon md-card-avatar class="mdi-45px" fontSet="mdi" fontIcon="mdi-robot"></md-icon>
          <md-card-title>{{currentBot?.name}}</md-card-title>
          <md-card-subtitle>{{currentBot?.description}}</md-card-subtitle>
        </md-card-header>
        <md-card-content fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!!currentBot" style="color: white;padding: 10px;">
          <span><strong>Author: </strong><em>{{currentBot?.Author}}</em></span>
          <span><strong>Start Date: </strong><em>{{currentBot?.startDate | date}}</em></span>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-header>
          <md-icon md-card-avatar class="mdi-45px" fontSet="mdi" fontIcon="mdi-signal"></md-icon>
          <md-card-title>{{currentBot?.modelName}}</md-card-title>
          <md-card-subtitle>{{currentBot?.modelDescription}}</md-card-subtitle>
        </md-card-header>
        <md-card-content fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!!currentBot" style="color: white;padding: 10px;">
          <span><strong>Author: </strong><em>{{currentBot?.modelAuthor}}</em></span>
        </md-card-content>
      </md-card>
      <md-card>
        <md-card-header>
          <md-icon md-card-avatar class="mdi-45px" fontSet="mdi" fontIcon="mdi-beta"></md-icon>
          <md-card-title>Statistics</md-card-title>
        </md-card-header>
        <md-card-content fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!!currentBot" style="color: white;padding: 10px;">
          <span><strong>Profit &amp; Loss: </strong><em>{{currentBot?.tradeBook.tradingStats.totalPnL/100 | currency:'USD':true:'1.2-2'}}</em></span>
          <span><strong>Win Pct: </strong><em>{{currentBot?.tradeBook.tradingStats.winPct}}%</em></span>
        </md-card-content>
      </md-card>
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center stretch" style="position: relative;">
      <app-component-spinner [busy]="isChartBusy"></app-component-spinner>
      <div fxFlex="70" id="stockChart"></div>
      <div fxFlex style="background-color:darkgrey">
        <md-table #table [dataSource]="botsDataSource">
          <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
          </ng-container>
          <ng-container mdColumnDef="author">
            <md-header-cell *mdHeaderCellDef> Author </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.author}} </md-cell>
          </ng-container>
          <ng-container mdColumnDef="modelInputs">
            <md-header-cell *mdHeaderCellDef> Target </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.modelInputs}} </md-cell>
          </ng-container>
          <ng-container mdColumnDef="run-simulation">
            <md-header-cell *mdHeaderCellDef> </md-header-cell>
            <md-cell *mdCellDef="let element">
              <button md-icon-button (click)="runSimulation(element)"> 
                  <md-icon  class="mdi-24px" fontSet="mdi" fontIcon="mdi-play-circle"></md-icon>
              </button>
            </md-cell>
          </ng-container>
          <md-header-row *mdHeaderRowDef="botsDisplayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: botsDisplayedColumns;"></md-row>
        </md-table>
      </div>
    </div>
  </div>
</div>