  <div fxLayout="column" fxLayoutAlign="start stretch" style="height: 100%;">
    <div fxLayout="row" fxLayoutAlign="start stretch" fxFlex>
      <div fxFlex="25" style="position: relative; ">
        <app-component-spinner [busy]="isSummaryBusy"></app-component-spinner>
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar class="mdi-45px" fontSet="mdi" fontIcon="mdi-robot"></mat-icon>
            <mat-card-title>{{currentBot?.name}}</mat-card-title>
            <mat-card-subtitle>{{currentBot?.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!!currentBot" style="color: white;padding: 10px;">
            <span><strong>Author: </strong><em>{{currentBot?.Author}}</em></span>
            <span><strong>Start Date: </strong><em>{{currentBot?.startDate | date}}</em></span>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar class="mdi-45px" fontSet="mdi" fontIcon="mdi-signal"></mat-icon>
            <mat-card-title>{{currentBot?.modelName}}</mat-card-title>
            <mat-card-subtitle>{{currentBot?.modelDescription}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!!currentBot" style="color: white;padding: 10px;">
            <span><strong>Author: </strong><em>{{currentBot?.modelAuthor}}</em></span>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-icon mat-card-avatar class="mdi-45px" fontSet="mdi" fontIcon="mdi-beta"></mat-icon>
            <mat-card-title>Statistics</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" *ngIf="!!currentBot" style="color: white;padding: 10px;">
            <span><strong>Profit &amp; Loss: </strong><em>{{currentBot?.tradeBook.tradingStats.totalPnL/100 | currency:'USD':true:'1.2-2'}}</em></span>
            <span><strong>Win Pct: </strong><em>{{currentBot?.tradeBook.tradingStats.winPct}}%</em></span>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex fxLayout="column" fxLayoutAlign="center stretch" style="position: relative;">
        <app-component-spinner [busy]="isChartBusy"></app-component-spinner>
        <div fxFlex="70" id="stockChart"></div>
        <div fxFlex style="background-color:darkgrey">
          <mat-table #table [dataSource]="botsDataSource">
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="author">
              <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="modelInputs">
              <mat-header-cell *matHeaderCellDef> Target </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.modelInputs}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="run-simulation">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="runSimulation(element)"> 
                  <mat-icon  class="mdi-24px" fontSet="mdi" fontIcon="mdi-play-circle"></mat-icon>
              </button>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="botsDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: botsDisplayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>